<a href="https://colab.research.google.com/github/AllanRodrigo/Data_Science_Alura/blob/main/Notebooks/Semana_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Preparando o Ambiente**

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 281.4/281.4 MB 4.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 KB 19.5 MB/s eta 0:00:00
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=af332859eafcdbf41c514889b0871e0d320cc9cd64ee931ba93d53d8a70ccedf
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Regressão com Spark") \
    .getOrCreate()

spark

## **Preços de Imóveis - Transformados**

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [4]:
import zipfile

zipfile.ZipFile('/content/drive/MyDrive/curso-spark/semana-2.zip', 'r').extractall('/content/drive/MyDrive/curso-spark/semana_2')

In [99]:
path = '/content/drive/MyDrive/curso-spark/semana_2/dataset_transformado_parquet'
dados = spark.read.parquet(path)

In [50]:
dados.show(10)

+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
|                  id|andar|area_total|area_util|banheiros|     caracteristicas|quartos|suites|tipo_anuncio|tipo_unidade|   tipo_uso|vaga|              bairro|        zona|condominio|iptu| tipo| valor|
+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
|03a386b6-7ab8-4ef...|    0|        43|       43|        1|[Churrasqueira, A...|      2|  null|       Usado| Apartamento|Residencial|   1|            Realengo|  Zona Oeste|       285|null|Venda| 22999|
|1fe78d41-b8e0-4d2...|    0|        44|       44|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   0|               Irajá|  Zona Norte|       170|   0|Venda|110000|
|1fa1c1e5-e98c-433...|    4|      null|       55|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   1|              Cosmos|  Zona Oeste|      null|null|Venda|115000|
|a6ab01ae-3d40-40e...|    2|      null|       55|        1|                  []|      2|     0|       Usado| Apartamento|Residencial|   0|        Tomás Coelho|  Zona Norte|      null|null|Venda|115000|
|1d8ff7a2-16bd-4e3...|    0|      null|       50|        1|                  []|      1|  null|       Usado| Apartamento|Residencial|   0|              Centro|Zona Central|      1300|2679|Venda|125000|
|40a2cbde-946b-42d...|    2|        47|       47|        1|[Condomínio fecha...|      2|     0|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|       380|null|Venda|138000|
|be269ddf-a4a3-4a7...|    0|     17089|       45|        1|[Churrasqueira, C...|      2|     0|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|       356|   0|Venda|140000|
|4b7e3d59-34fd-4ba...|    3|        48|       48|        1|[Churrasqueira, P...|      2|  null|       Usado| Apartamento|Residencial|   1|        Campo Grande|  Zona Oeste|         0|   0|Venda|150000|
|a1a0c2ac-4fa8-4b0...|    9|      null|       55|        1|[Churrasqueira, E...|      2|  null|       Usado| Apartamento|Residencial|   1|Freguesia (Jacare...|  Zona Oeste|       780| 660|Venda|160000|
|390d2b88-e06d-47e...|    0|        70|       70|        2|   [Salão de festas]|      2|     0|       Usado| Apartamento|Residencial|   1|          Praça Seca|  Zona Oeste|    420000|null|Venda|159000|
+--------------------+-----+----------+---------+---------+--------------------+-------+------+------------+------------+-----------+----+--------------------+------------+----------+----+-----+------+
only showing top 10 rows

## **Seleção de features**

In [51]:
dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: long (nullable = true)
 |-- area_total: string (nullable = true)
 |-- area_util: string (nullable = true)
 |-- banheiros: long (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: long (nullable = true)
 |-- suites: long (nullable = true)
 |-- tipo_anuncio: string (nullable = true)
 |-- tipo_unidade: string (nullable = true)
 |-- tipo_uso: string (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: string (nullable = true)
 |-- iptu: string (nullable = true)
 |-- tipo: string (nullable = true)
 |-- valor: string (nullable = true)

In [52]:
from pyspark.sql.types import DoubleType, StringType, IntegerType
from pyspark.sql import functions as f

In [100]:
dados\
    .select('tipo_anuncio')\
    .groupBy('tipo_anuncio')\
    .count()\
    .show()

+------------+-----+
|tipo_anuncio|count|
+------------+-----+
|       Usado|66562|
+------------+-----+

In [54]:
dados\
    .select('tipo_unidade')\
    .groupBy('tipo_unidade')\
    .count()\
    .show()

+------------+-----+
|tipo_unidade|count|
+------------+-----+
| Apartamento|66562|
+------------+-----+

In [55]:
dados\
    .select('tipo_uso')\
    .groupBy('tipo_uso')\
    .count()\
    .show()

+-----------+-----+
|   tipo_uso|count|
+-----------+-----+
|Residencial|66562|
+-----------+-----+

In [56]:
dados\
    .select('tipo')\
    .groupBy('tipo')\
    .count()\
    .show()

+-----+-----+
| tipo|count|
+-----+-----+
|Venda|66562|
+-----+-----+

In [101]:
dados = dados.select("id", "andar", "area_util", "banheiros", "caracteristicas", "quartos", \
             "suites", "vaga", "bairro", "zona", "condominio", "iptu", "valor")

## **Converter os tipos das colunas**

In [102]:
dados = dados.withColumn('area_util', dados['area_util'].cast(DoubleType()))\
                   .withColumn('condominio', dados['condominio'].cast(DoubleType()))\
                   .withColumn('iptu', dados['iptu'].cast(DoubleType()))\
                   .withColumn('valor', dados['valor'].cast(DoubleType()))\
                   .withColumn('andar', dados['andar'].cast(IntegerType()))\
                   .withColumn('banheiros', dados['banheiros'].cast(IntegerType()))\
                   .withColumn('quartos', dados['quartos'].cast(IntegerType()))\
                   .withColumn('suites', dados['suites'].cast(IntegerType()))

dados.printSchema()

root
 |-- id: string (nullable = true)
 |-- andar: integer (nullable = true)
 |-- area_util: double (nullable = true)
 |-- banheiros: integer (nullable = true)
 |-- caracteristicas: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- quartos: integer (nullable = true)
 |-- suites: integer (nullable = true)
 |-- vaga: long (nullable = true)
 |-- bairro: string (nullable = true)
 |-- zona: string (nullable = true)
 |-- condominio: double (nullable = true)
 |-- iptu: double (nullable = true)
 |-- valor: double (nullable = true)

## **Tratamento da coluna caracteristicas**

In [103]:
dados = dados.withColumn('caracteristicas', f.when((f.size(f.col('caracteristicas')) == 0), f.lit(None)).otherwise(f.col('caracteristicas')))

## **Tratar dados nulos e NaN's**

In [104]:
colunas = ["id", "andar", "area_util", "banheiros", "quartos", \
             "suites", "vaga", "bairro", "zona", "condominio", "iptu", "valor"]

dados\
    .select([f.count(f.when(f.isnan(c) | f.isnull(c), True)).alias(c) for c in colunas])\
    .show()

+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+
| id|andar|area_util|banheiros|quartos|suites|vaga|bairro|zona|condominio|iptu|valor|
+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+
|  0|    0|        0|        0|      0|  5554|3017|     0|   0|      2371|7199|    0|
+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+

In [105]:
dados = dados\
    .select('*')\
    .na\
    .fill(0)

In [93]:
dados\
    .select([f.count(f.when(f.isnan(c) | f.isnull(c), True)).alias(c) for c in colunas])\
    .show()

+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+
| id|andar|area_util|banheiros|quartos|suites|vaga|bairro|zona|condominio|iptu|valor|
+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+
|  0|    0|        0|        0|      0|     0|   0|     0|   0|         0|   0|    0|
+---+-----+---------+---------+-------+------+----+------+----+----------+----+-----+

## **Preparação dos dados para machine learning**

In [77]:
dados\
    .select('zona')\
    .groupBy('zona')\
    .count()\
    .show()

+------------+-----+
|        zona|count|
+------------+-----+
|  Zona Norte|11897|
|  Zona Oeste|32979|
|Zona Central| 1144|
|    Zona Sul|20531|
|            |   11|
+------------+-----+

In [106]:
dados = dados\
    .where(f.col('zona') != '')

In [107]:
zona = dados\
    .groupBy('id')\
    .pivot('zona')\
    .agg(f.lit(1))\
    .na\
    .fill(0)

zona.show(5)

+--------------------+------------+----------+----------+--------+
|                  id|Zona Central|Zona Norte|Zona Oeste|Zona Sul|
+--------------------+------------+----------+----------+--------+
|4e47e4d4-3326-4eb...|           0|         0|         0|       1|
|02fba6ef-a691-442...|           0|         0|         1|       0|
|fc03c1a9-8bbb-41a...|           0|         1|         0|       0|
|3dd5d200-0a7f-43d...|           0|         0|         0|       1|
|82707939-71bd-40c...|           0|         0|         0|       1|
+--------------------+------------+----------+----------+--------+
only showing top 5 rows

In [108]:
caracteristicas = dados.select(dados.id,f.explode(dados.caracteristicas))
caracteristicas.groupBy('col').count().show()

+------------------+-----+
|               col|count|
+------------------+-----+
|Condomínio fechado|34980|
|        Playground|31854|
| Portão eletrônico|29323|
|           Piscina|33235|
|Animais permitidos|30617|
|      Portaria 24h|30360|
|          Elevador|43023|
|          Academia|27641|
|   Salão de festas|33582|
|     Churrasqueira|31737|
+------------------+-----+

In [109]:
caracteristicas = caracteristicas\
                .groupBy('id')\
                .pivot('col')\
                .agg(f.lit(1))\
                .na\
                .fill(0)
caracteristicas.show()

+--------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|                  id|Academia|Animais permitidos|Churrasqueira|Condomínio fechado|Elevador|Piscina|Playground|Portaria 24h|Portão eletrônico|Salão de festas|
+--------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|fd96bbd5-d631-416...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|bfffedfe-99e7-4ae...|       0|                 1|            1|                 1|       1|      0|         1|           0|                1|              1|
|fcb67af3-5601-415...|       1|                 1|            1|                 0|       0|      1|         1|           0|                0|              1|
|afecddff-f4cc-4ab...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|1bbc40f3-4f5c-459...|       1|                 0|            0|                 1|       1|      1|         1|           1|                1|              1|
|fd26aeb2-a7b3-4f8...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|10e9d118-dbad-43c...|       0|                 1|            1|                 1|       0|      1|         1|           1|                1|              1|
|ca1e84d7-86c8-4b1...|       1|                 0|            1|                 1|       1|      1|         1|           1|                1|              1|
|d9e139a5-e85d-4e1...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|156a1fa5-37ca-43d...|       1|                 0|            1|                 1|       1|      1|         1|           1|                1|              1|
|e7be09eb-6223-4b4...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|631efda0-5e10-422...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|07cbfef2-efbf-4e8...|       0|                 1|            0|                 0|       1|      0|         0|           1|                0|              0|
|62baf185-103d-448...|       1|                 0|            1|                 1|       0|      1|         1|           0|                0|              0|
|3030d17c-5681-4b2...|       1|                 1|            1|                 1|       1|      1|         0|           1|                1|              1|
|6179c8a4-1fd2-4f5...|       1|                 1|            0|                 1|       1|      1|         1|           1|                1|              1|
|c284072a-7298-4e5...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|7e43514c-3b40-4fb...|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|6a4ce9ac-1eb0-4d4...|       1|                 0|            1|                 0|       1|      1|         1|           0|                0|              1|
|bdc6127a-1d97-41b...|       1|                 0|            1|                 0|       0|      0|         0|           0|                0|              1|
+--------------------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
only showing top 20 rows

In [110]:
dados = dados\
    .join(zona, 'id', how='inner')\
    .join(caracteristicas, 'id', how='left')
    #.drop('caracteristicas')\
    #.drop('zona')

# Limpar os dados nulos gerados pelo left join de caracteristicas
dados = dados\
    .select('*')\
    .na\
    .fill(0)

dados.show()

+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+-------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|                  id|andar|area_util|banheiros|     caracteristicas|quartos|suites|vaga|              bairro|        zona|condominio|   iptu|    valor|Zona Central|Zona Norte|Zona Oeste|Zona Sul|Academia|Animais permitidos|Churrasqueira|Condomínio fechado|Elevador|Piscina|Playground|Portaria 24h|Portão eletrônico|Salão de festas|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+-------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
|02fba6ef-a691-442...|    3|     64.0|        1|[Academia, Churra...|      2|     2|   1|         Jacarepaguá|  Zona Oeste|     784.0|   80.0| 380000.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|03a386b6-7ab8-4ef...|    0|     43.0|        1|[Churrasqueira, A...|      2|     0|   1|            Realengo|  Zona Oeste|     285.0|    0.0|  22999.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       0|      0|         1|           1|                1|              1|
|107507e0-f075-47e...|    0|    122.0|        1|[Elevador, Churra...|      3|     1|   2|Recreio dos Bande...|  Zona Oeste|     810.0| 3000.0| 895000.0|           0|         0|         1|       0|       0|                 1|            1|                 1|       1|      0|         0|           0|                1|              0|
|3521e03b-0815-4aa...|    0|    286.0|        7|[Portão eletrônic...|      7|     3|   4|          Copacabana|    Zona Sul|    2148.0|15000.0|4500000.0|           0|         0|         0|       1|       0|                 0|            0|                 1|       0|      0|         0|           1|                1|              0|
|3dd5d200-0a7f-43d...|    0|    170.0|        3|          [Elevador]|      4|     1|   1|         Cosme Velho|    Zona Sul|    2250.0| 3000.0|1450000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       1|      0|         0|           0|                0|              0|
|3e9a8997-8071-4a4...|    0|     85.0|        2|[Elevador, Academ...|      2|     1|   2|     Barra da Tijuca|  Zona Oeste|     900.0| 2500.0| 680000.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|44e32862-bfb9-4f6...|    0|     64.0|        2|[Churrasqueira, P...|      2|     1|   1|         Jacarepaguá|  Zona Oeste|     690.0| 1078.0| 540000.0|           0|         0|         1|       0|       1|                 0|            1|                 0|       0|      0|         1|           0|                0|              1|
|4c49bd8a-815f-496...|    0|    180.0|        3|                null|      4|     1|   1|               Gávea|    Zona Sul|    1841.0|  600.0|2248000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       0|      0|         0|           0|                0|              0|
|4e47e4d4-3326-4eb...|    0|     90.0|        2|          [Elevador]|      3|     1|   0|          Copacabana|    Zona Sul|     950.0| 2677.0| 949020.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       1|      0|         0|           0|                0|              0|
|6179c8a4-1fd2-4f5...|    0|    356.0|        8|[Condomínio fecha...|      4|     4|   3|     Barra da Tijuca|  Zona Oeste|    4400.0|10000.0|2700000.0|           0|         0|         1|       0|       1|                 1|            0|                 1|       1|      1|         1|           1|                1|              1|
|82707939-71bd-40c...|    0|    525.0|        4|                null|      4|     2|   2|            Flamengo|    Zona Sul|    5000.0| 2100.0|5199000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       0|      0|         0|           0|                0|              0|
|9ab97f8d-0d2a-4a9...|    0|    156.0|        2|          [Elevador]|      3|     1|   1|          Copacabana|    Zona Sul|    1152.0|  419.0|1180000.0|           0|         0|         0|       1|       0|                 0|            0|                 0|       1|      0|         0|           0|                0|              0|
|a4b88c04-2655-414...|    0|    160.0|        3| [Elevador, Piscina]|      2|     1|   2|Recreio dos Bande...|  Zona Oeste|    1976.0|  389.0| 850000.0|           0|         0|         1|       0|       0|                 0|            0|                 0|       1|      1|         0|           0|                0|              0|
|af143cf5-1902-4fb...|    0|     46.0|        1|[Playground, Salã...|      2|     0|   0|           Pechincha|  Zona Oeste|       0.0|    0.0| 276000.0|           0|         0|         1|       0|       0|                 0|            0|                 0|       0|      0|         1|           0|                0|              1|
|b37a2a08-d3c6-489...|    0|     72.0|        3|                null|      2|     1|   2|              Grajaú|  Zona Norte|     770.0| 1110.0| 420000.0|           0|         1|         0|       0|       0|                 0|            0|                 0|       0|      0|         0|           0|                0|              0|
|c7e56e3a-a2b2-48a...|    3|    335.0|        5|[Elevador, Portão...|      3|     2|   4|     Barra da Tijuca|  Zona Oeste|    2800.0|13500.0|3980000.0|           0|         0|         1|       0|       0|                 1|            0|                 0|       1|      0|         0|           0|                1|              0|
|e4031c0d-5b72-493...|   10|     50.0|        1|[Academia, Churra...|      2|     0|   1|         Jacarepaguá|  Zona Oeste|     300.0|  150.0| 300000.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|e5e00255-6408-4e6...| 1234|    245.0|        5|[Portão eletrônic...|      4|     2|   3|     Barra da Tijuca|  Zona Oeste|    3800.0| 7900.0|2080000.0|           0|         0|         1|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|ece1e671-cb4d-48a...|    0|     50.0|        1|[Academia, Churra...|      2|     0|   1|              Centro|Zona Central|     320.0|   80.0| 330000.0|           1|         0|         0|       0|       1|                 1|            1|                 1|       1|      1|         1|           1|                1|              1|
|efef38d2-12cf-428...|    0|    140.0|        4|[Churrasqueira, P...|      3|     1|   2|     Barra da Tijuca|  Zona Oeste|    1850.0| 4000.0|1950000.0|           0|         0|         1|       0|       0|                 0|            1|                 0|       0|      1|         1|           0|                0|              1|
+--------------------+-----+---------+---------+--------------------+-------+------+----+--------------------+------------+----------+-------+---------+------------+----------+----------+--------+--------+------------------+-------------+------------------+--------+-------+----------+------------+-----------------+---------------+
only showing top 20 rows

## **Salvar a base de dados em parquet**

In [111]:
dados.write.parquet(
    path='/content/drive/MyDrive/curso-spark/semana_2/modelo',
    mode='overwrite'
)